Flask==1.1.2
gunicorn==20.0.4
Flask-pymysql==0.2.3
Flask-QRcode==3.0.0
Jinja2==2.11.2
flask_recaptcha==0.4.2
Flask-Mail==0.9.1
Pillow==8.0.1
boto3==1.14.16
Flask-Cors==3.0.9
Flask-SQLAlchemy==2.4.4
psycopg2==2.8.6
Flask-Migrate==2.5.3
Flask-Script==2.0.6
mercadopago==1.1.1